doctype html
html
  head
    title Lucifer Dance Academy
    block scripts
    block style
      script(src='/jquery.js')
  body
    nav#navbar
        ul
            div#logo
                img(src="/static/dance.png", alt="")
                | LDA 
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class info]
            li #[a(href="/contact") Contact Us]

    block content
    footer#footer
        | Copyright &copy; 2020 shubhajitpaul.slg1@gmail.com
    